

body {
  margin: 0;
  font-family: 'sans-serif';
  font-size: 16px;
  line-height: 1.8em;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding: 0 1em;
}


section {
  margin: 1em;
  padding: 1em;
  border-bottom: 1px solid #ccc;   
}


header {
  padding: 2em;
  text-align: center;
  background-image: url('./../fotos/aHR0cHM6Ly9jZG4uZW5oYW5jdi5jb20vaTE4bk5leHRJbWFnZXMvY3YtZXhhbXBsZXMtbWFpbi9yZXN1bWUtYmcud2VicA~~.webp');
  background-size: cover;
  background-position: center;
  color: white;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  color:turquoise;
}

h4 {
  font-weight: bold;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0;
  margin: 0;
}


.knowledge {
  display: flex;
  gap: 2em;
}

.knowledge div ul,
ul.job-description {
  list-style-type: none;
}

.knowledge div ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: turquoise;
}


ul.job-description li:before {
  content: "✔";
  padding-right: 0.5em;
}


footer {
 padding: 1em 1.5em;
 background: #8aecdf;
 color: white;
 text-align: right;
}
