
        .barra-morada {
            background-color: purple;
            padding: 12px;
            display: flex;
            justify-content: flex-end;
        }

        .caja {
            background-color: orange;
            margin-left: 7px;
            padding: 6px 10px;
        }
        .columna-negra {
            background-color: black;
            width: 100px;
           
        }

        .columna-negra .caja {
            margin: 6px auto;
            width: 70px;
            text-align: center;
        }


        #nav {
            background-color: beige;
            margin-top: 40px;
            border: 3px solid black;
            padding: 10px;
        }

        #nav ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            
        }

        #nav ul li {
            background-color: darkred;
            padding: 10px 15px;
            border: 4px solid black;
            border-radius: 8px;
        }

        #nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 16px;
        }
    