.container {
            display: grid;
            grid-template-rows: 20% 65% 15%;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-areas:
                "header header header header"
                "main main . aside"
                "footer footer footer footer";
            height: 100vh;
        }

        header {
            grid-area: header;
            background-color: lightblue;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            grid-area: main;
            background-color: lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        aside {
            grid-area: aside;
            background-color: pink;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        footer {
            grid-area: footer;
            background-color: lightcoral;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            margin: 0;
            font-family: Arial, sans-serif;
        }